*{
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #D3B78F;
  color: black;

}

header{
  text-align: center;
  background-color: #95B2B0;
}
h1{
  font-size: 2.2em;
  padding-top: 1em;
  padding-bottom: 0.5em;
  
}

main{
  color: black;
  background-color: #D3B78F;
  line-height: 1.6;
  font-size: 1.2em;
  margin-top: 1.8em;
  margin-bottom: 0;
  margin-left: 18%;
  margin-right: 18%;
}

#main-img {
  text-align: center;
  max-width: 50%;
  max-height: 250px;
  border: 3px solid white;
  border-radius: 50%;
  margin-bottom: 2em;
  margin-top: 1em;
}

.port-img{
  margin-top: 1em;
  border-radius: 10%;
  max-height: 20em;
  
}

ul {
  text-align: center;
  list-style-type: none;
  background-color:#CF8C71;
  overflow: hidden;
  padding: 1em;
}

li {
  display: inline;
}

li a{
  text-decoration: none;
  color: black;
  font-size: 1.3em;
  padding: 1em;
}

li a:hover {
  background-color: #E3C167;
}

/*.projects{
  background-color: ;
}
*/

